body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Lobster', sans-serif;
}

.titulo {

    font-size: 37px;

}

.opciones {

    font-family: "cabin";
    font-size: 16px;

}




.imagen1 {
    width: 482px;
    height: 384px;
}

h1 {

    font-family: "cabin";
    font-weight: 900;
    font-size: 40px;

}


#carouselExampleIndicators {
    padding-left: 13rem;
}

.car1 {

    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;

}

.carousel-indicators {

    position: absolute;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;


}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #373A3C;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}

.carousel-indicators .active {
    opacity: 1;
}

.col-3 {
    width: 21%;
}