body {
    font-family: 'Cabin', sans-serif;
    font-family: 'Lobster', sans-serif;
}

.titulo {
    color: #ffffff;
    font-size: 37px;

}

.opciones1 {
    color: #ffffff;
    font-family: "cabin";
    font-size: 16px;
}

.imagen1 {
    padding-top: 2rem;
    width: 482px;
    height: 384px;
}

.titulo1 {
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-family: "cabin";
    font-weight: 900;
    font-size: 40px;
    color: #373A3C;
}

.subtitulo1 {
    padding-top: 2rem;
    font-family: "cabin";
    font-weight: 700;
    font-size: 20px;
}

.botones1 {
    font-family: "cabin";
    font-weight: 700;
    font-size: 16px;
}

.carrusel-1 {
    padding-top: 4rem;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -60px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel-indicators [data-bs-target] {
    background-color: #373a3c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

h2 {
    text-decoration-line: underline;
    font-family: "cabin";
    font-size: 20px;
    color: #373a3c;
}

.ingredientes {
    font-family: "cabin";
    font-size: 20px;
    color: #373a3c;
}

.recetas1 {
    font-family: "cabin";
    font-weight: 900;
    font-size: 40px;
    color: #373A3C;
    padding-bottom: 2rem;
}

h5 {
    font-family: "cabin";
    font-weight: 900;
    font-size: 23px;
    color: #373A3C;
}

p {
    font-family: "cabin";
    font-weight: 500;
    font-size: 16px;
    color: #373A3C;
}

.bg-color1 {
    background-color: #DC3545;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.recetas2 {
    font-family: "cabin";
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 1rem;
}

h4 {
    font-family: "lobster";
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 2rem;
}

.boton2 {
    font-family: "cabin";
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    padding-left: 5rem;
    padding-right: 5rem;
}

.bg-color3 {
    background-color: #373A3C;
    color: #ffffff;
    font-size: 37px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}